<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.equipment.order.mapper.ResOrderMapper">

    <resultMap type="ResOrder" id="ResOrderResult">
        <result property="orderId"          column="order_id"          />
        <result property="orderNo"          column="order_no"          />
        <result property="userId"           column="user_id"           />
        <result property="userName"         column="user_name"         />
        <result property="loginName"        column="login_name"        />
        <result property="reserveTime"      column="reserve_time"      />
        <!-- 0=待审批 1=使用中 2=已拒绝 3=已归还 4=已逾期 5=已取消 6=待归还核验 -->
        <result property="orderStatus"      column="order_status"      />
        <result property="equipmentId"      column="equip_id"          />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="equipmentImage"   column="equipment_image"   />
        <result property="quantity"         column="quantity"          />
        <result property="expectReturnTime" column="expect_return_time"/>
        <result property="assignedUnitCodes" column="assigned_unit_codes"/>
        <result property="approverId"       column="approver_id"       />
        <result property="approverName"     column="approver_name"     />
        <result property="approveTime"      column="approve_time"      />
        <result property="rejectReason"     column="reject_reason"     />
        <result property="realName"         column="real_name"          />
        <result property="studentNo"        column="student_no"         />
        <result property="grade"            column="grade"              />
        <result property="major"            column="major"              />
        <result property="phone"            column="phone"              />
        <result property="actualReturnTime" column="actual_return_time" />
        <result property="trackUnit"        column="track_unit"         />
        <result property="returnStatus"     column="return_status"     />
        <result property="createBy"         column="create_by"         />
        <result property="createTime"       column="create_time"       />
        <result property="updateBy"         column="update_by"         />
        <result property="updateTime"       column="update_time"       />
        <result property="remark"           column="remark"            />
    </resultMap>

    <sql id="selectResOrderVo">
        select r.order_id, r.order_no, r.user_id, u.nick_name as user_name, u.user_name as login_name, r.real_name, r.student_no, r.grade, r.major, r.phone, r.reserve_time, r.order_status,
               r.equip_id, e.equipment_name, e.image as equipment_image, e.track_unit,
               r.quantity, r.expect_return_time, r.actual_return_time,
               r.assigned_unit_codes, r.approver_id, r.approver_name,
               r.approve_time, r.reject_reason, r.return_status,
               r.create_by, r.create_time, r.update_by, r.update_time, r.remark
        from res_order r
        left join sys_user u on r.user_id = u.user_id
        left join eq_equipment e on r.equip_id = e.equipment_id
    </sql>

    <select id="selectResOrderList" parameterType="ResOrder" resultMap="ResOrderResult">
        <include refid="selectResOrderVo"/>
        <where>
            <if test="userId != null "> and r.user_id = #{userId}</if>
            <if test="reserveTime != null  and reserveTime != ''"> and r.reserve_time = #{reserveTime}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and r.order_status = #{orderStatus}</if>
            <if test="equipmentId != null "> and r.equip_id = #{equipmentId}</if>
            <if test="returnStatus != null  and returnStatus != ''"> and r.return_status = #{returnStatus}</if>
        </where>
        order by r.create_time desc
    </select>

    <select id="selectResOrderById" parameterType="Long" resultMap="ResOrderResult">
        <include refid="selectResOrderVo"/>
        where r.order_id = #{orderId}
    </select>

    <select id="selectResOrderListByUserId" parameterType="ResOrder" resultMap="ResOrderResult">
        <include refid="selectResOrderVo"/>
        <where>
            <if test="userId != null "> and r.user_id = #{userId}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and r.order_status = #{orderStatus}</if>
            <if test="equipmentId != null "> and r.equip_id = #{equipmentId}</if>
            <if test="returnStatus != null  and returnStatus != ''"> and r.return_status = #{returnStatus}</if>
        </where>
        order by r.create_time desc
    </select>

    <insert id="insertResOrder" parameterType="ResOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into res_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="reserveTime != null and reserveTime != ''">reserve_time,</if>
            <if test="orderStatus != null and orderStatus != ''">order_status,</if>
            <if test="equipmentId != null">equip_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="expectReturnTime != null and expectReturnTime != ''">expect_return_time,</if>
            <if test="assignedUnitCodes != null and assignedUnitCodes != ''">assigned_unit_codes,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="studentNo != null and studentNo != ''">student_no,</if>
            <if test="grade != null and grade != ''">grade,</if>
            <if test="major != null and major != ''">major,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="actualReturnTime != null">actual_return_time,</if>
            <if test="returnStatus != null">return_status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="reserveTime != null and reserveTime != ''">#{reserveTime},</if>
            <if test="orderStatus != null and orderStatus != ''">#{orderStatus},</if>
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="expectReturnTime != null and expectReturnTime != ''">#{expectReturnTime},</if>
            <if test="assignedUnitCodes != null and assignedUnitCodes != ''">#{assignedUnitCodes},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="studentNo != null and studentNo != ''">#{studentNo},</if>
            <if test="grade != null and grade != ''">#{grade},</if>
            <if test="major != null and major != ''">#{major},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="actualReturnTime != null">#{actualReturnTime},</if>
            <if test="returnStatus != null">#{returnStatus},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateResOrder" parameterType="ResOrder">
        update res_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="reserveTime != null and reserveTime != ''">reserve_time = #{reserveTime},</if>
            <if test="orderStatus != null and orderStatus != ''">order_status = #{orderStatus},</if>
            <if test="equipmentId != null">equip_id = #{equipmentId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="expectReturnTime != null and expectReturnTime != ''">expect_return_time = #{expectReturnTime},</if>
            <if test="assignedUnitCodes != null">assigned_unit_codes = #{assignedUnitCodes},</if>
            <if test="approverId != null">approver_id = #{approverId},</if>
            <if test="approverName != null">approver_name = #{approverName},</if>
            <if test="approveTime != null">approve_time = #{approveTime},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="studentNo != null and studentNo != ''">student_no = #{studentNo},</if>
            <if test="grade != null and grade != ''">grade = #{grade},</if>
            <if test="major != null and major != ''">major = #{major},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="actualReturnTime != null">actual_return_time = #{actualReturnTime},</if>
            <if test="returnStatus != null">return_status = #{returnStatus},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteResOrderById" parameterType="Long">
        delete from res_order where order_id = #{orderId}
    </delete>

    <delete id="deleteResOrderByIds" parameterType="String">
        delete from res_order where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

</mapper>