<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.equipment.unit.mapper.EqEquipmentUnitMapper">

    <resultMap type="EqEquipmentUnit" id="EqEquipmentUnitResult">
        <result property="unitId"             column="unit_id"              />
        <result property="equipmentId"        column="equipment_id"         />
        <result property="unitCode"           column="unit_code"            />
        <result property="status"             column="status"               />
        <result property="borrowerId"         column="borrower_id"          />
        <result property="borrowerName"       column="borrower_name"        />
        <result property="borrowOrderId"      column="borrow_order_id"      />
        <result property="borrowTime"         column="borrow_time"          />
        <result property="expectedReturnTime" column="expected_return_time" />
        <result property="actualReturnTime"   column="actual_return_time"   />
        <result property="returnStatus"       column="return_status"        />
        <result property="damageRemark"       column="damage_remark"        />
        <result property="createTime"         column="create_time"          />
        <result property="updateTime"         column="update_time"          />
    </resultMap>

    <sql id="selectEqEquipmentUnitVo">
        select u.unit_id, u.equipment_id, u.unit_code, u.status,
               u.borrower_id, u.borrower_name, u.borrow_order_id,
               u.borrow_time, u.expected_return_time, u.actual_return_time,
               u.return_status, u.damage_remark, u.create_time, u.update_time
        from eq_equipment_unit u
    </sql>

    <select id="selectEqEquipmentUnitById" parameterType="Long" resultMap="EqEquipmentUnitResult">
        <include refid="selectEqEquipmentUnitVo"/>
        where u.unit_id = #{unitId}
    </select>

    <select id="selectEqEquipmentUnitList" parameterType="EqEquipmentUnit" resultMap="EqEquipmentUnitResult">
        <include refid="selectEqEquipmentUnitVo"/>
        <where>
            <if test="equipmentId != null "> and u.equipment_id = #{equipmentId}</if>
            <if test="unitCode != null  and unitCode != ''"> and u.unit_code like concat('%', #{unitCode}, '%')</if>
            <if test="status != null  and status != ''"> and u.status = #{status}</if>
            <if test="borrowerId != null "> and u.borrower_id = #{borrowerId}</if>
            <if test="borrowOrderId != null "> and u.borrow_order_id = #{borrowOrderId}</if>
        </where>
        order by u.unit_code asc
    </select>

    <select id="selectAvailableUnitsByEquipmentId" parameterType="Long" resultMap="EqEquipmentUnitResult">
        <include refid="selectEqEquipmentUnitVo"/>
        where u.equipment_id = #{equipmentId} and u.status = '0'
        order by u.unit_code asc
    </select>

    <insert id="insertEqEquipmentUnit" parameterType="EqEquipmentUnit" useGeneratedKeys="true" keyProperty="unitId">
        insert into eq_equipment_unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id,</if>
            <if test="unitCode != null and unitCode != ''">unit_code,</if>
            <if test="status != null">status,</if>
            <if test="borrowerId != null">borrower_id,</if>
            <if test="borrowerName != null">borrower_name,</if>
            <if test="borrowOrderId != null">borrow_order_id,</if>
            <if test="borrowTime != null">borrow_time,</if>
            <if test="expectedReturnTime != null">expected_return_time,</if>
            <if test="actualReturnTime != null">actual_return_time,</if>
            <if test="returnStatus != null">return_status,</if>
            <if test="damageRemark != null">damage_remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="unitCode != null and unitCode != ''">#{unitCode},</if>
            <if test="status != null">#{status},</if>
            <if test="borrowerId != null">#{borrowerId},</if>
            <if test="borrowerName != null">#{borrowerName},</if>
            <if test="borrowOrderId != null">#{borrowOrderId},</if>
            <if test="borrowTime != null">#{borrowTime},</if>
            <if test="expectedReturnTime != null">#{expectedReturnTime},</if>
            <if test="actualReturnTime != null">#{actualReturnTime},</if>
            <if test="returnStatus != null">#{returnStatus},</if>
            <if test="damageRemark != null">#{damageRemark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="batchInsertEqEquipmentUnit" parameterType="list" useGeneratedKeys="true" keyProperty="unitId">
        insert into eq_equipment_unit (equipment_id, unit_code, status, create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.equipmentId}, #{item.unitCode}, #{item.status}, #{item.createTime})
        </foreach>
    </insert>

    <update id="updateEqEquipmentUnit" parameterType="EqEquipmentUnit">
        update eq_equipment_unit
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="borrowerId != null">borrower_id = #{borrowerId},</if>
            <if test="borrowerName != null">borrower_name = #{borrowerName},</if>
            <if test="borrowOrderId != null">borrow_order_id = #{borrowOrderId},</if>
            <if test="borrowTime != null">borrow_time = #{borrowTime},</if>
            <if test="expectedReturnTime != null">expected_return_time = #{expectedReturnTime},</if>
            <if test="actualReturnTime != null">actual_return_time = #{actualReturnTime},</if>
            <if test="returnStatus != null">return_status = #{returnStatus},</if>
            <if test="damageRemark != null">damage_remark = #{damageRemark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where unit_id = #{unitId}
    </update>

    <delete id="deleteEqEquipmentUnitById" parameterType="Long">
        delete from eq_equipment_unit where unit_id = #{unitId}
    </delete>

    <delete id="deleteEqEquipmentUnitByEquipmentId" parameterType="Long">
        delete from eq_equipment_unit where equipment_id = #{equipmentId}
    </delete>

</mapper>