<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ResOrderMapper">
    
    <resultMap type="ResOrder" id="ResOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="equipId"    column="equip_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="realName"    column="real_name"    />
        <result property="studentNo"    column="student_no"    />
        <result property="grade"    column="grade"    />
        <result property="major"    column="major"    />
        <result property="phone"    column="phone"    />
        <result property="reserveTime"    column="reserve_time"    />
        <result property="expectReturnTime"    column="expect_return_time"    />
        <result property="actualReturnTime"    column="actual_return_time"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="pickupLocation"    column="pickup_location"    />
        <result property="pickupTime"    column="pickup_time"    />
        <result property="extendStatus"    column="extend_status"    />
        <result property="extendExpectReturnTime"    column="extend_expect_return_time"    />
        <result property="extendReason"    column="extend_reason"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectResOrderVo">
        select order_id, user_id, equip_id, quantity, real_name, student_no, grade, major, phone, reserve_time, expect_return_time, actual_return_time, order_status, reject_reason, pickup_location, pickup_time, extend_status, extend_expect_return_time, extend_reason, create_time, update_by, update_time, remark from res_order
    </sql>

    <select id="selectResOrderList" parameterType="ResOrder" resultMap="ResOrderResult">
        <include refid="selectResOrderVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="studentNo != null  and studentNo != ''"> and student_no like concat('%', #{studentNo}, '%')</if>
            <if test="params.beginReserveTime != null and params.beginReserveTime != '' and params.endReserveTime != null and params.endReserveTime != ''"> and reserve_time between #{params.beginReserveTime} and #{params.endReserveTime}</if>
            <if test="params.beginExpectReturnTime != null and params.beginExpectReturnTime != '' and params.endExpectReturnTime != null and params.endExpectReturnTime != ''"> and expect_return_time between #{params.beginExpectReturnTime} and #{params.endExpectReturnTime}</if>
            <if test="params.beginActualReturnTime != null and params.beginActualReturnTime != '' and params.endActualReturnTime != null and params.endActualReturnTime != ''"> and actual_return_time between #{params.beginActualReturnTime} and #{params.endActualReturnTime}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and order_status = #{orderStatus}</if>
            <if test="extendStatus != null  and extendStatus != ''"> and extend_status = #{extendStatus}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectResOrderByOrderId" parameterType="Long" resultMap="ResOrderResult">
        <include refid="selectResOrderVo"/>
        where order_id = #{orderId}
    </select>

    <insert id="insertResOrder" parameterType="ResOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into res_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="equipId != null">equip_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="realName != null">real_name,</if>
            <if test="studentNo != null">student_no,</if>
            <if test="grade != null">grade,</if>
            <if test="major != null">major,</if>
            <if test="phone != null">phone,</if>
            <if test="reserveTime != null">reserve_time,</if>
            <if test="expectReturnTime != null">expect_return_time,</if>
            <if test="actualReturnTime != null">actual_return_time,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="pickupLocation != null">pickup_location,</if>
            <if test="pickupTime != null">pickup_time,</if>
            <if test="extendStatus != null">extend_status,</if>
            <if test="extendExpectReturnTime != null">extend_expect_return_time,</if>
            <if test="extendReason != null">extend_reason,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="equipId != null">#{equipId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="realName != null">#{realName},</if>
            <if test="studentNo != null">#{studentNo},</if>
            <if test="grade != null">#{grade},</if>
            <if test="major != null">#{major},</if>
            <if test="phone != null">#{phone},</if>
            <if test="reserveTime != null">#{reserveTime},</if>
            <if test="expectReturnTime != null">#{expectReturnTime},</if>
            <if test="actualReturnTime != null">#{actualReturnTime},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="pickupLocation != null">#{pickupLocation},</if>
            <if test="pickupTime != null">#{pickupTime},</if>
            <if test="extendStatus != null">#{extendStatus},</if>
            <if test="extendExpectReturnTime != null">#{extendExpectReturnTime},</if>
            <if test="extendReason != null">#{extendReason},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateResOrder" parameterType="ResOrder">
        update res_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="equipId != null">equip_id = #{equipId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="studentNo != null">student_no = #{studentNo},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="major != null">major = #{major},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="reserveTime != null">reserve_time = #{reserveTime},</if>
            <if test="expectReturnTime != null">expect_return_time = #{expectReturnTime},</if>
            <if test="actualReturnTime != null">actual_return_time = #{actualReturnTime},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="pickupLocation != null">pickup_location = #{pickupLocation},</if>
            <if test="pickupTime != null">pickup_time = #{pickupTime},</if>
            <if test="extendStatus != null">extend_status = #{extendStatus},</if>
            <if test="extendExpectReturnTime != null">extend_expect_return_time = #{extendExpectReturnTime},</if>
            <if test="extendReason != null">extend_reason = #{extendReason},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteResOrderByOrderId" parameterType="Long">
        delete from res_order where order_id = #{orderId}
    </delete>

    <delete id="deleteResOrderByOrderIds" parameterType="String">
        delete from res_order where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>