<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserProfileMapper">

    <resultMap type="SysUserProfile" id="SysUserProfileResult">
        <result property="profileId"  column="profile_id"  />
        <result property="userId"     column="user_id"     />
        <result property="studentNo"  column="student_no"  />
        <result property="grade"      column="grade"       />
        <result property="major"      column="major"       />
        <result property="realName"   column="real_name"   />
        <result property="phone"      column="phone"       />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
        <result property="remark"     column="remark"      />
    </resultMap>

    <select id="selectSysUserProfileByUserId" parameterType="Long" resultMap="SysUserProfileResult">
        select profile_id, user_id, student_no, grade, major, real_name, phone,
               create_by, create_time, update_by, update_time, remark
        from sys_user_profile where user_id = #{userId}
    </select>

    <insert id="insertSysUserProfile" parameterType="SysUserProfile" useGeneratedKeys="true" keyProperty="profileId">
        insert into sys_user_profile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="studentNo != null">student_no,</if>
            <if test="grade != null">grade,</if>
            <if test="major != null">major,</if>
            <if test="realName != null">real_name,</if>
            <if test="phone != null">phone,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="studentNo != null">#{studentNo},</if>
            <if test="grade != null">#{grade},</if>
            <if test="major != null">#{major},</if>
            <if test="realName != null">#{realName},</if>
            <if test="phone != null">#{phone},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysUserProfile" parameterType="SysUserProfile">
        update sys_user_profile
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentNo != null">student_no = #{studentNo},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="major != null">major = #{major},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where user_id = #{userId}
    </update>

</mapper>
